$g-font: 'Kumbh Sans', sans-serif;
$g-reey-font: 'reeyregular';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.row {
  --bs-gutter-x: 30px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

body,
.p-component {
  font-family: 'Montserrat';
  color: var(--thm-gray);
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}

a {
  color: var(--thm-black);
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--thm-black);
  font-weight: 700;
  margin: 0;
}

.noSelect {
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  @include reset-lines;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.bootstrap-select .btn-light:not(:disabled):not(.disabled).active,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select .show > .btn-light.dropdown-toggle {
  box-shadow: none !important;
  outline: none !important;
}

.bootstrap-select > .dropdown-toggle {
  box-shadow: none !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}

.bootstrap-select .dropdown-menu {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  z-index: 991;
  border-radius: 0;
}

.bootstrap-select .dropdown-menu > li + li > a {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.bootstrap-select .dropdown-menu > li.selected > a {
  background: var(--thm-primary);
  color: #fff;
}

.bootstrap-select .dropdown-menu > li > a {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 20px;
  color: #ffffff;
  background: var(--thm-black);
  transition: all 0.4s ease;
}

.bootstrap-select .dropdown-menu > li > a:hover {
  background: var(--thm-primary);
  color: #fff;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.section-separator {
  border-color: var(--thm-border);
  border-width: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  background-color: var(--thm-base);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 50px 12px;
  border-radius: 8px;
  transition: all 0.3s linear;
  overflow: hidden;
  letter-spacing: 0.1em;
  z-index: 1;
}

.thm-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: var(--thm-black);
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-property: all;
  opacity: 1;
  transform-origin: top;
  transform-style: preserve-3d;
  transform: scaleY(0);
  z-index: -1;
}

.thm-btn:hover:after {
  opacity: 1;
  transform: scaleY(1);
}

.thm-btn:hover {
  color: #ffffff;
}

.section-title {
  position: relative;
  display: block;
  margin-top: -7px;
  margin-bottom: 35px;
}

.section-title__tagline {
  position: relative;
  display: inline-block;
  color: var(--thm-base);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}

.section-title__title {
  font-size: 50px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}

.bootstrap-select .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}

.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
  background-color: var(--thm-base);
}

.preloader {
  position: fixed;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.preloader__image {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
