.color-box {
  border-radius: 3px;
  max-width: 62px;
  border: 6px;
  display: flex;
  justify-content: center;
  height: 61px;

  img {
    border-style: none;
  }
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider,
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
  .p-inputswitch-slider {
  background-color: #16a34a;
}

.center-item {
  display: flex;
  justify-content: center;
}
