<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit User' : 'Add User'"
    [subheader]="editMode ? 'Edit a User' : 'Add a new User'"
  >
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-success mr-3"
              [label]="editMode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-danger"
              label="Cancel"
              icon="pi pi-times"
              routerLink="/users"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid mt-4">
      <div class="col-12">
        <form [formGroup]="userForm">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-4">
              <label for="name">Name</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small
                *ngIf="
                  userForm.controls['name'].invalid &&
                  (userForm.controls['name'].dirty ||
                    userForm.controls['name'].touched)
                "
                class="p-error"
              >
                Name is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="email">Email</label>
              <input
                formControlName="email"
                id="email"
                type="text"
                pInputText
              />
              <small
                *ngIf="
                  userForm.controls['email'].invalid &&
                  (userForm.controls['email'].dirty ||
                    userForm.controls['email'].touched)
                "
                class="p-error"
              >
                Email is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="passwordHash">Password</label>
              <input
                formControlName="passwordHash"
                id="passwordHash"
                type="password"
                pInputText
              />
              <small
                *ngIf="
                  userForm.controls['passwordHash'].invalid &&
                  (userForm.controls['passwordHash'].dirty ||
                    userForm.controls['passwordHash'].touched)
                "
                class="p-error"
              >
                Password is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="contact">Contact</label>
              <div>
                <ngx-intl-tel-input
                  [cssClass]="'contact-form'"
                  [enableAutoCountrySelect]="true"
                  [searchCountryFlag]="true"
                  separateDialCode="true"
                  [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.Pakistan"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="separateDialCode"
                  [numberFormat]="PhoneNumberFormat.National"
                  inputId="contact"
                  formControlName="contact"
                >
                </ngx-intl-tel-input>
                <!--                 <ngx-intl-tel-input
                  style="width: 100%"
                  [cssClass]="'contact-form'"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="false"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.Pakistan"
                  maxLength="15"
                  [separateDialCode]="separateDialCode"
                  [numberFormat]="PhoneNumberFormat.National"
                  name="contact"
                  formControlName="contact"
                >
                </ngx-intl-tel-input> -->
              </div>

              <small
                *ngIf="
                  userForm.controls['contact'].invalid &&
                  (userForm.controls['contact'].dirty ||
                    userForm.controls['contact'].touched)
                "
                class="p-error"
              >
                Contact is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="role">Role</label>
              <p-dropdown
                [options]="roles"
                formControlName="role"
                placeholder="Select a Role"
                optionLabel="label"
                optionValue="value"
                [showClear]="true"
              ></p-dropdown>
              <small
                *ngIf="
                  userForm.controls['role'].invalid &&
                  (userForm.controls['role'].dirty ||
                    userForm.controls['role'].touched)
                "
                class="p-error"
              >
                Role is Required
              </small>
            </div>
            <div class="p-field col-4"></div>
            <div class="p-field col-4">
              <label for="street">Street</label>
              <input
                formControlName="street"
                id="street"
                type="text"
                pInputText
              />
              <small
                *ngIf="
                  userForm.controls['street'].invalid &&
                  (userForm.controls['street'].dirty ||
                    userForm.controls['street'].touched)
                "
                class="p-error"
              >
                Street is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="house">House</label>
              <input
                formControlName="house"
                id="house"
                type="text"
                pInputText
              />
              <small
                *ngIf="
                  userForm.controls['house'].invalid &&
                  (userForm.controls['house'].dirty ||
                    userForm.controls['house'].touched)
                "
                class="p-error"
              >
                House is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="country">Country</label>
              <p-dropdown
                [options]="countries"
                formControlName="country"
                placeholder="Select a Country"
                optionLabel="name"
                [showClear]="true"
                (onChange)="getStates()"
              ></p-dropdown>

              <small
                *ngIf="
                  userForm.controls['country'].invalid &&
                  (userForm.controls['country'].dirty ||
                    userForm.controls['country'].touched)
                "
                class="p-error"
              >
                Country is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="state">State</label>
              <p-dropdown
                [options]="states"
                formControlName="state"
                placeholder="Select a State"
                optionLabel="name"
                [showClear]="true"
                (onChange)="getCities()"
              ></p-dropdown>
              <small
                *ngIf="
                  userForm.controls['state'].invalid &&
                  (userForm.controls['state'].dirty ||
                    userForm.controls['state'].touched)
                "
                class="p-error"
              >
                State is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="city">City</label>
              <p-dropdown
                [options]="cities"
                formControlName="city"
                placeholder="Select a city"
                optionLabel="name"
                [showClear]="true"
              ></p-dropdown>
              <small
                *ngIf="
                  userForm.controls['city'].invalid &&
                  (userForm.controls['city'].dirty ||
                    userForm.controls['city'].touched)
                "
                class="p-error"
              >
                city is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="zip">Zip</label>
              <input formControlName="zip" id="zip" type="text" pInputText />
              <small
                *ngIf="
                  userForm.controls['zip'].invalid &&
                  (userForm.controls['zip'].dirty ||
                    userForm.controls['zip'].touched)
                "
                class="p-error"
              >
                Zip is Required
              </small>
            </div>

            <div class="p-field col-4">
              <label for="image">Main Image</label>
              <p-fileUpload
                class="user-form-image"
                accept="image/*"
                maxFileSize="1000000"
                (onSelect)="onImageUpload($event)"
                [auto]="true"
                chooseLabel="Browse"
                previewWidth="150"
              ></p-fileUpload>

              <small
                *ngIf="
                  userForm.controls['profilePicture'].invalid &&
                  (userForm.controls['profilePicture'].dirty ||
                    userForm.controls['profilePicture'].touched)
                "
                class="p-error"
              >
                Profile Picture is Required
              </small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
