<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit Course' : 'Add Course'"
    [subheader]="editMode ? 'Edit a Course' : 'Add a new Course'"
  >
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-success mr-3"
              [label]="editMode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-danger"
              label="Cancel"
              icon="pi pi-times"
              routerLink="/courses"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid mt-4">
      <div class="col-12">
        <form [formGroup]="courseForm">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-4">
              <label for="name">Title</label>
              <input
                formControlName="title"
                id="title"
                type="text"
                pInputText
              />
              <small
                *ngIf="
                  courseForm.controls['title'].invalid &&
                  (courseForm.controls['title'].dirty ||
                    courseForm.controls['title'].touched)
                "
                class="p-error"
              >
                Title is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="category">Category</label>

              <p-dropdown
                [options]="categories"
                formControlName="category"
                optionLabel="name"
                optionValue="_id"
                placeholder="Select a Category"
              >
                <!--                 <ng-template pTemplate="selectedItem">
                  <div
                    class="country-item country-item-value"
                    *ngIf="courseForm.controls['category'].value"
                  >
                    <div>{{ courseForm.controls['category'].value.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div>
                    <div>{{ country.name }}</div>
                  </div>
                </ng-template> -->
              </p-dropdown>

              <small
                *ngIf="
                  courseForm.controls['category'].invalid &&
                  courseForm.controls['category'].touched
                "
                class="p-error"
              >
                Category is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="language">Language</label>

              <p-dropdown
                [options]="langOpt"
                optionValue="value"
                formControlName="language"
                placeholder="Select a Language"
                optionLabel="label"
                [showClear]="true"
              ></p-dropdown>

              <small
                *ngIf="
                  courseForm.controls['language'].invalid &&
                  courseForm.controls['language'].touched
                "
                class="p-error"
              >
                Language is Required
              </small>
            </div>
            <div class="p-field col-12">
              <label for="description">Description</label>
              <div>
                <textarea
                  [rows]="3"
                  [cols]="30"
                  formControlName="description"
                  id="description"
                  pInputTextarea
                ></textarea>

                <small
                  *ngIf="
                    courseForm.controls['description'].invalid &&
                    (courseForm.controls['description'].dirty ||
                      courseForm.controls['description'].touched)
                  "
                  class="p-error"
                >
                  Description is Required
                </small>
              </div>
            </div>
            <div class="p-field col-12">
              <label for="richDescription">Course Detail</label>
              <p-editor
                formControlName="richDescription"
                [style]="{ height: '320px' }"
              ></p-editor>

              <small
                *ngIf="
                  courseForm.controls['richDescription'].invalid &&
                  (courseForm.controls['richDescription'].dirty ||
                    courseForm.controls['richDescription'].touched)
                "
                class="p-error"
              >
                Detail is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="price">Price</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">$</span>
                <p-inputNumber
                  formControlName="price"
                  id="price"
                  type="number"
                ></p-inputNumber>
              </div>
              <small
                *ngIf="
                  courseForm.controls['price'].invalid &&
                  (courseForm.controls['price'].dirty ||
                    courseForm.controls['price'].touched)
                "
                class="p-error"
              >
                Price is Required
              </small>
            </div>
            <div class="p-field col-4">
              <label for="rating">Rating</label>
              <p-dropdown
                [options]="ratingOpt"
                formControlName="rating"
                placeholder="Select Ratings"
                optionLabel="label"
                optionValue="value"
                [showClear]="true"
              ></p-dropdown>
              <small
                *ngIf="
                  courseForm.controls['rating'].invalid &&
                  (courseForm.controls['rating'].dirty ||
                    courseForm.controls['rating'].touched)
                "
                class="p-error"
              >
                Rating is Required
              </small>
            </div>
            <div
              class="p-field col-4 flex flex-column align-items-center justify-content-center"
            >
              <label for="isFeatured">Feature Status</label>
              <p-inputSwitch
                formControlName="isFeatured"
                placeholder="Select Ratings"
              ></p-inputSwitch>
            </div>
          </div>
        </form>
        <form action="/uploadfile" enctype="multipart/form-data" method="POST">
          <div class="p-filed p-col-12">
            <div>
              <label for="image">Main Image</label>
            </div>
            <input
              type="file"
              class="p-inputtext"
              accept="image/*"
              (change)="onImageUpload($event)"
            />
            <div *ngIf="imageDisplay" class="mt-3 ml-0">
              <img
                style="
                  max-width: 200px;
                  max-height: 200px;
                  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
                    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
                "
                [src]="imageDisplay"
              />
              <div>
                <p-button
                  label="Upload"
                  icon="pi pi-upload"
                  iconPos="right"
                  [style]="{
                    width: '17%',
                    color: 'white',
                    backgroundColor: '#16A34B'
                  }"
                ></p-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
